<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include("common/header.ejs") %>
    <div id="container">
        <%- include("common/login_banner.ejs") %>
        <div class="center join">
            <form action="/login" method="post" class="loginForm">
                <div class="top">
                    <label for="userid">아이디</label>
                    <input type="text" name="userid" class="userid" placeholder="아이디">
                </div>
                <div class="bot">
                    <label for="userpass">비밀번호</label>
                    <input type="password" name="userpass" class="userpass" placeholder="비밀번호">
                </div>
                <button type="submit">로그인</button>
            </form>
        </div>
    </div>
</body>
</html>