<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include("common/header.ejs") %>
    <div id="container">
        <%- include("common/main_banner.ejs") %>
    </div>
    <%- include("common/footer.ejs") %>
    <div>
        <div class="condition">
            <% if(userData){ %>
                <!-- 참이라면 @@@@님 이라고 뜨기 -->
                <div class="loginuser">안녕하세요, <%- userData.joinid %> 님</div>
                <a href="/logout">로그아웃</a>
            <% } else { %>
                <!-- 거짓이라면 로그인, 회원가입 메뉴 출력 -->
                <a class="joinBtn" href="/login">로그인</a>
                <a class="loginBtn" href="/join">회원가입</a>
            <% } %>
        </div>
    </div>
</body>
</html>