* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

ul, ol, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

img, video {
  vertical-align: middle;
}

input, select, textarea {
  outline: 0;
  border: none;
}

textarea {
  resize: none;
}

table {
  border-collapse: collapse;
}

body {
  line-height: 1;
  font-size: 13px;
}

button {
  border: none;
}

input {
  outline: 0;
}

.center {
  width: 1200px;
}

.logo {
  width: 150px;
}
.logo img {
  width: 100%;
}

#header {
  display: flex;
  justify-content: center;
}
#header .center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
#header .center .gnb {
  display: flex;
}
#header .center .gnb li {
  margin: 0 40px;
}
#header .center .gnb li:hover a {
  color: #303f9e;
}
#header .center .gnb li a {
  font-size: 17px;
}

#banner {
  background-image: url(../img/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#banner .center {
  color: #fff;
}
#banner .center h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
#banner .center p {
  font-size: 15px;
}

#footer .top {
  width: 100%;
  height: 50px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .top .center ul {
  display: flex;
  align-items: center;
}
#footer .top .center ul li::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 10px;
  background-color: #adafb6;
  margin: 0 10px;
}
#footer .top .center ul li:last-child::after {
  display: none;
}
#footer .bot {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
#footer .bot .center {
  display: flex;
  align-items: center;
}
#footer .bot .center .address {
  margin-left: 35px;
}
#footer .bot .center .address .top_text {
  display: flex;
  margin-bottom: 15px;
}
#footer .bot .center .address .top_text .company {
  margin-right: 50px;
  color: #303f9e;
  font-weight: bold;
}
#footer .bot .center .address .top_text .address, #footer .bot .center .address .top_text .tel {
  margin-right: 20px;
}
#footer .bot .center .address .copyright {
  color: #777;
}
#footer .bot .center .address .copyright span {
  color: #000;
}

.brd_table {
  display: flex;
  justify-content: center;
  padding: 140px 0;
}
.brd_table .center {
  position: relative;
}
.brd_table .center .top_line {
  margin-bottom: 10px;
}
.brd_table .center .top_line h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 70px;
}
.brd_table .center .top_line .bot_line {
  display: flex;
  justify-content: space-between;
}
.brd_table .center .top_line .bot_line .right {
  display: flex;
}
.brd_table .center .top_line .bot_line .right select {
  width: 110px;
  height: 30px;
  border: 1px solid #777;
  margin-right: 3px;
}
.brd_table .center .top_line .bot_line .right input {
  width: 180px;
  height: 28px;
  border: 1px solid #777;
}
.brd_table .center .top_line .bot_line .right button {
  width: 50px;
  height: 30px;
  border: 1px solid #777;
  border-left: none;
  background-color: #fff;
}
.brd_table .center #topLine {
  border-top: 1px solid #000;
  border-bottom: 2px solid #000;
}
.brd_table .center .line {
  line-height: 55px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  text-align: left;
}
.brd_table .center .line .number {
  width: 10%;
  text-align: center;
}
.brd_table .center .line .title {
  width: 50%;
}
.brd_table .center .line .auther {
  width: 10%;
}
.brd_table .center .line .date {
  width: 20%;
}
.brd_table .center .line .view {
  width: 10%;
}
.brd_table .center .write_btn {
  display: block;
  width: 72px;
  height: 34px;
  color: #fff;
  background-color: #333;
  line-height: 34px;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: -55px;
}

.brd_form {
  display: flex;
  justify-content: center;
  padding: 140px 0;
}
.brd_form .center .top_context {
  text-align: center;
  margin-bottom: 20px;
}
.brd_form .center .top_context h2 {
  font-size: 40px;
  margin-bottom: 70px;
}
.brd_form .center .top_context p {
  line-height: 15px;
  padding: 25px 0;
  background-color: #f5f5f5;
}
.brd_form .center .top_context p span {
  color: #303f9e;
}
.brd_form .center #myform > div {
  display: flex;
  border-top: 1px solid #d1d1d1;
}
.brd_form .center #myform > div p {
  background-color: #f2f2f2;
  width: 220px;
  text-align: center;
  margin-right: 20px;
}
.brd_form .center #myform > div input {
  border: 1px solid #d1d1d1;
  margin: auto 0;
  width: 170px;
  height: 32px;
}
.brd_form .center #myform > div textarea {
  border: 1px solid #d1d1d1;
  margin: auto 0;
  width: 858px;
  height: 192px;
}
.brd_form .center #myform .btns {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.brd_form .center #myform .btns button {
  width: 153px;
  height: 48px;
  background-color: #304190;
  color: #fff;
  margin: 0 2px;
  cursor: pointer;
}
.brd_form .center #myform .btns .cancel {
  display: block;
  line-height: 48px;
  width: 124px;
  height: 48px;
  text-align: center;
  background-color: #999;
  color: #fff;
  margin: 0 2px;
}
.brd_form .center #myform .auther, .brd_form .center #myform .title {
  height: 60px;
  line-height: 60px;
}
.brd_form .center #myform .context {
  height: 220px;
  line-height: 220px;
  border-bottom: 1px solid #d1d1d1;
}
.brd_form .center #myform .context textarea {
  white-space: pre;
}

.brd_detail {
  display: flex;
  justify-content: center;
  padding: 140px 0;
}
.brd_detail .center {
  position: relative;
}
.brd_detail .center .top {
  text-align: center;
  margin-bottom: 20px;
}
.brd_detail .center .top h2 {
  font-size: 40px;
  margin-bottom: 70px;
}
.brd_detail .center .bot {
  border-top: 2px solid #333;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 65px;
}
.brd_detail .center .bot > div {
  line-height: 65px;
  padding: 0 10px;
  box-sizing: border-box;
}
.brd_detail .center .context {
  height: 282px;
  padding: 40px 10px;
  box-sizing: border-box;
  white-space: pre;
}
.brd_detail .center .under_info {
  display: flex;
  justify-content: space-between;
}
.brd_detail .center .btns {
  position: absolute;
  bottom: -60px;
  right: 0;
}
.brd_detail .center .btns a {
  display: inline-block;
  background-color: #333;
  color: #fff;
  width: 72px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  margin: 0 5px;
}

.brd_upt {
  display: flex;
  justify-content: center;
  padding: 140px 0;
}
.brd_upt #myform > div {
  display: flex;
  border-top: 1px solid #d1d1d1;
}
.brd_upt #myform > div p {
  background-color: #f2f2f2;
  width: 220px;
  text-align: center;
  margin-right: 20px;
}
.brd_upt #myform > div input {
  border: 1px solid #d1d1d1;
  margin: auto 0;
  width: 170px;
  height: 32px;
}
.brd_upt #myform > div textarea {
  border: 1px solid #d1d1d1;
  margin: auto 0;
  width: 858px;
  height: 192px;
}
.brd_upt #myform .btns {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.brd_upt #myform .btns button {
  width: 153px;
  height: 48px;
  background-color: #304190;
  color: #fff;
  margin: 0 2px;
  cursor: pointer;
}
.brd_upt #myform .btns .cancel {
  display: block;
  line-height: 48px;
  width: 124px;
  height: 48px;
  text-align: center;
  background-color: #999;
  color: #fff;
  margin: 0 2px;
}
.brd_upt #myform .auther, .brd_upt #myform .title {
  height: 60px;
  line-height: 60px;
}
.brd_upt #myform .context {
  height: 220px;
  line-height: 220px;
  border-bottom: 1px solid #d1d1d1;
}
.brd_upt #myform .context textarea {
  white-space: pre;
}