<div id="footer">
        <div class="top">
            <div class="center">
                <ul>
                    <li><a href="#">회사소개</a></li>
                    <li><a href="#">오시는길</a></li>
                    <li><a href="#">개인정보처리지침</a></li>
                    <li><a href="#">이메일무단수집거부</a></li>
                </ul>
            </div>
        </div>
        <div class="bot">
            <div class="center">
                <h1 class="logo"><a href="/"><img src="/img/logo.png"></a></h1>
                <div class="address">
                    <div class="top_text">
                        <p class="company">본사</p>
                        <p class="address">경상북도 경주시 천북면 천북산단로70</p>
                        <p class="tel">Tel. 054-743-5538</p>
                        <p class="fax">Fax. 054-743-5536</p>
                    </div>
                    <p class="copyright">COPYRIGHT(C) <span>GNTECH.</span> ALL RIGHT RESERVED</p>
                </div>
            </div>
        </div>
    </div>
</div>